
<table class="table table-hover">
  <thead>
    <tr  class=table-primary>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Age</th>
       <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let student of students" class="student">
    <tr>
      <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.age}}</td>
        <td><button  class="btn btn-info" (click)="click(student.id)">Details</button></td>
        <td><button   class="btn btn-info" (click)="deleteStudent(student.id)">Remove</button></td>
    </tr>
  </tbody>
</table>