
<div class="card text-center">
    <div class="card-header">
      Details :
    </div>
    <div class="card-body">

        <h5>First_name :</h5>   <p class="card-text">{{student.firstName}}</p><br>
        <h5>First_name :</h5>   <p class="card-text">{{student.lastName}}</p><br>
        <h5>Age :</h5>   <p class="card-text">{{student.age}}</p><br>
     
      <button class="btn btn-info" (click)="back()">Back</button>
        </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
